.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

body {
  background-color: black;
  background: url('./harry_potter.jpg');
  background-size: 100%;
}

h2 {
  font-size: 5em;
  color: white;
  text-align: center;
}

.container {
  justify-content: center;
  border: 1px solid black;
}
