.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

body {
  background-color: lightyellow;
}

h2 {
  font-size: 5em;
}

.container {
  justify-content: center;
  border: 1px solid black;
}
